[Unit]
Description=Run Recurring Contest Generation every hour
Requires=recurring-contests.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
